<div>
    <h1>Open Home Schedule</h1>

    <ul>
        {{#each watchlist}}
            <li>{{Title}}</li>
        {{/each}}
    </ul>
</div>

<a href="http://trademe.co.nz">Trade Me</a> <a href="directions-test.html">Google directions test</a>

